In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('vinbigdata-chest-xray-abnormalities-detection/train.csv')

In [16]:
print(df.head())

                           image_id          class_name  class_id rad_id  \
0  50a418190bc3fb1ef1633bf9678929b3          No finding        14    R11
1  21a10246a5ec7af151081d0cd6d65dc9          No finding        14     R7
2  9a5094b2563a1ef3ff50dc5c7ff71345        Cardiomegaly         3    R10
3  051132a778e61a86eb147c7c6f564dfe  Aortic enlargement         0    R10
4  063319de25ce7edb9b1c6b8881290140          No finding        14    R10

    x_min   y_min   x_max   y_max
0     NaN     NaN     NaN     NaN
1     NaN     NaN     NaN     NaN
2   691.0  1375.0  1653.0  1831.0
3  1264.0   743.0  1611.0  1019.0
4     NaN     NaN     NaN     NaN

In [17]:
sorted_df = pd.DataFrame(columns=['Image', 'Count'])

In [18]:
# Iterate through each unique image in the original dataframe
for image in df['image_id'].unique():
    
    # Count how many times the image appears in the original dataframe
    count = len(df[df['image_id'] == image])
    
    # Create a new dataframe with the image, count, and diseases
    row_df = pd.DataFrame({'Image': [image], 'Count': [count]})
    
    # Add the new row dataframe to the sorted dataframe
    sorted_df = pd.concat([sorted_df, row_df], ignore_index=True)

In [19]:
sorted_df = sorted_df.sort_values('Count', ascending=False)

In [20]:
sorted_df.head()

                                 Image Count
722   03e6ecfa6f6fb33dfeac6ca4f9b459c9    57
1034  fa109c087e46fe1ea27e48ce6d154d2f    52
484   e31be972e181987a8600a8700c1ebe88    48
988   6d5acf3f8a973a26844d617fffe72998    46
236   3a302fbbbf3364aa1a7731b59e6b98ec    46

In [25]:
sorted_df.tail()

                                  Image Count
6544   be353c629cd9b269bbcb6623339283ae     3
6545   43b0f51d257ee4154014ef7724a82644     3
6546   9a4ed54cefaea64fc59bf8debdc79ec9     3
6548   3018e6640df6a1e3f9978cf55c8d0fd3     3
14999  839b2311ffad9bdd9aa98c74aad6e251     3

In [21]:
sorted_df.to_csv('outputs/sorted_file.csv', index=False)

In [22]:
# Calculate the total of the 'Count' column
total_count = sorted_df['Count'].sum()
print("Total count of all images:", total_count)

Total count of all images: 67914

In [23]:
# Get the number of rows in the dataset
num_rows = sorted_df.shape[0]
print("Number of rows in the dataset:", num_rows)

Number of rows in the dataset: 15000

<h1>Conclusion</h1>

**There are 15000 unique images in dataset.
Each image contains min 3 max 57 diagnoses.**